.section1 {
  margin-bottom: 100px;
}

.title_wrap_1 {
  margin-bottom: 70px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 25px;
}

.line_wrap_1 {
  width: 100%;
}

.green_1 {
  width: 340px;
  height: 4px;
  background-color: #3bb4a8;
}

.black_1 {
  width: 100%;
  height: 1px;
  background-color: #c1cad2;
}
@media all and (max-width: 1024px) {
  .title_wrap_1 {
    margin-bottom: 35px;
  }
  .title {
    font-size: 1.325rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .title::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 25px;
    background: #3bb4a8;
    z-index: 0;
    margin-right: 10px;
    position: static;
    transform: translateY(5px);
  }
  .line_wrap_1 {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .title_wrap_1 {
    margin-bottom: 18px;
  }
  .title {
    font-size: 0.875rem;
    font-weight: 700;
  }
  .title::before {
    height: 17px;
  }
}

.con1_wrap_1 {
  position: relative;
  display: flex;
  justify-content: end;
  margin-bottom: 75px;
  padding-left: 60px;
}

.con1_wrap_1 img {
  width: 55%;
}

.right_con_wrap_1 {
  min-width: 45%;
  background-color: #f5f5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right_con_wrap_1 h3 {
  font-size: 28px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 15px;
}

.right_con_wrap_1 p {
  font-size: 18px;
  font-weight: 500;
  color: #404040;
}

.btn-share {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgb(0 0 0 / 16%);
  background: url("../../img/ico_share1.png") no-repeat center #fff;
  border: none;
  position: absolute;
  top: 29px;
  right: 27px;
  cursor: pointer;
}

.share-box {
  background: url("../../img/chat_bubble.png") no-repeat center/cover;
  width: 368px;
  height: 106px;
  text-align: center;
  padding: 40px 20px 18px;
  box-sizing: border-box;
  position: absolute;
  top: 95px;
  right: -130px;
  display: none;
}

.share-box a {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-right: 30px;
}

.share-box a:last-child {
  margin-right: 0;
}
.share-box a img {
  width: 35px;
  height: 35px;
}
@media all and (max-width: 1024px) {
  .con1_wrap_1 {
    padding: 0;
    margin-bottom: 50px;
  }
  .con1_wrap_1 img {
    width: 100%;
  }
  .right_con_wrap_1 {
    display: none;
  }
  .btn-share {
    display: none;
  }
  .section1 {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 767px) {
  .section1 {
    margin-bottom: 30px;
  }
  .con1_wrap_1 {
    margin-bottom: 18px;
  }
}

.con2_wrap_1 {
  padding: 0 60px;
}

.con2_wrap_1 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.con2_wrap_1 h3:before {
  content: "";
  width: 70px;
  height: 5px;
  background-color: #3bb4a8;
  margin-bottom: 15px;
  display: block;
}
.con2_wrap_1 p {
  font-size: 18px;
  font-weight: 500;
  color: #404040;
  line-height: 2em;
}

@media all and (max-width: 1024px) {
  .con2_wrap_1 {
    padding: 0;
  }
  .con2_wrap_1 h3 {
    font-size: 1.325rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .con2_wrap_1 p {
    font-size: 0.95rem;
    padding-left: 15px;
    line-height: 1.6em;
    font-weight: 600;
  }
  .con2_wrap_1 h3:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 25px;
    background: #3bb4a8;
    z-index: 0;
    margin-right: 10px;
    position: static;
    transform: translateY(20px);
  }
}

@media all and (max-width: 767px) {
  .con2_wrap_1 {
    padding: 0;
  }
  .con2_wrap_1 h3 {
    font-size: 0.875rem;
    margin-bottom: 15px;
    font-weight: 700;
  }
  .con2_wrap_1 p {
    font-size: 0.75rem;
    padding-left: 15px;
    font-weight: 400;
    line-height: 1.6em;
  }
  .con2_wrap_1 h3:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 17px;
    background: #3bb4a8;
    z-index: 0;
    margin-right: 10px;
    position: static;
    transform: translateY(17px);
  }
}

.section2 {
  padding-left: 60px;
  box-sizing: border-box;
}

.section2 img {
  width: 100%;
}

.title_2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}
.title_2::before {
  content: "";
  width: 70px;
  height: 5px;
  background-color: #3bb4a8;
  margin-bottom: 15px;
  display: block;
}

.address_wrap_2 {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #f5f5f6;
  margin-bottom: 15px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #1c6e66;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.circle div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1c6e66;
}

.address {
  font-size: 16px;
  font-weight: 600;
}
.map_box_2 {
  width: 100%;
  height: 696px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_box_2 img {
  min-width: 1220px;
  min-height: 694.125px;
}

@media all and (max-width: 1024px) {
  .section2 {
    padding-left: 0;
  }
  .title_2 {
    font-size: 1.325rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .title_2::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 25px;
    background: #3bb4a8;
    z-index: 0;
    margin-right: 10px;
    position: static;
    transform: translateY(20px);
  }
  .map_box_2 {
    height: 450px;
  }
}
@media all and (max-width: 767px) {
  .title_2 {
    font-size: 0.875rem;
  }
  .title_2::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 17px;
    background: #3bb4a8;
    z-index: 0;
    margin-right: 10px;
    position: static;
    transform: translateY(18px);
  }
  .address {
    font-size: 0.75rem;
    font-weight: 600;
  }
  .map_box_2 {
    height: 325px;
  }
}

.on {
  background-color: #eee;
}

.onBox {
  display: block;
}
