.open {
  background-color: #404040;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.boxOpen {
  display: block;
}

.turn {
  transform: rotateZ(180deg);
}

.on {
  background-color: #eee;
}

.onBox {
  display: block;
}
